@import url('assets/css/main.new-all.css');
.showCart section,
.showCart .orderCart .offer-sologan-bar{
	display: none!important;
}
.showCart .orderCart,
.showCart .orderCart section,
.showCart .orderCart .xs-back-btn-area{
	display: block!important;
}
@media(max-width: 991px){
	.sidebar-mobile{
		display: block!important;
		padding-top: 30px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.siderbar-desktop{
		display: none;
	}
}


