.cleaning-convenient-sec{
	padding: 30px 0 10px;
	text-align: center;
	border-top: 2px solid #fff;
}
.sec-bg{
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.cleaning-convenient-items ul li{
	float: left;
	width: 25%;
	padding: 0 20px;
}
.cleaning-convenient-item-img{
	padding-bottom: 20px;
}
.cleaning-convenient-hdr h2{
	font-weight: 500;
}
.cleaning-convenient-item-des h6{

}


.save-time-section{
	padding: 50px 0 80px;
}
.save-time-sec-des h3{
	text-transform: uppercase;
	color: #006AB6;
	font-family: "Helvetica";
}	
.save-time-sec-des h3 span{
	text-transform: capitalize;
	color: #00BCC3;
	display: block;
	font-size: 28px;
  
}

.save-time-sec-des p{
	font-size: 20px;
	line-height: 1.4;
	font-family: "Helvetica";
	color: #0b396b;
}

.save-time-vdo iframe{
	width: 100%;
}


.main-banner{
	padding: 20px 0 20px;
	border-bottom: 2px solid #cccccc;
}
.bnr-lft-col{
	max-width: 370px;
	color: #fff;
}
.bnr-offer-price span {
    display: block;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 68px;
    padding-bottom: 2px;
}
.bnr-offer-price{
		font-family: "Helvetica";
}
.bnr-offer-price strong{
	font-size: 80px;
	line-height: 82px;
	position: relative;
	font-weight: 600;
}
.bnr-offer-price strong sup {
    margin-top: 0;
    font-size: 75%;
    line-height: 0;
    display: inline;
    position: relative;
    top: -21px;
    left: -1px;
}

.bnr-offer-price small{
	font-weight: 600;
	display: block;
	font-size: 14px;
	line-height: 16px;
	padding-left: 74px;
	padding-bottom: 10px;
}

.bnr-btn{
	padding-left: 14px;
	padding-bottom: 15px;
}

.bnr-mastercard-imgs{
	padding-left: 30px;
	padding-bottom: 10px;
}
.bnr-mastercard-imgs img{
	max-width: 40px;
	display: inline-block;
	vertical-align: baseline;
}

.bnr-risk-free-img {
    padding-left: 47px;
    padding-bottom: 10px;
}
.bonus-bag-img-bx{
	display: flex;
	align-items: center;
}

.bonus-bag-img-bx p{
	margin-bottom: 0;
	text-shadow: 0 0 10px black;
	color: #00bcc3;
	font-size: 20px;
    line-height: 1;
    font-weight: 800;
}

.bnr-rgt-col div h2{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	font-size: 45px;
	margin-bottom: 10px;
	position: relative;
	left: -50px;
}
.content-move-rgt{
	text-align: right;
}

.bnr-rgt-col figcaption {
    display: inline-block;
    vertical-align: baseline;
    color: white;
    position: relative;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    background: #006ab6;
    border-radius: 100%;
    font-size: 16px;
    padding: 25px 35px;
    z-index: 1;
    margin-top: -25px;
    right: -15px;
    text-transform: uppercase;
}
.bnr-rgt-col figure img{
	position: relative;
	z-index: 2;
}
.bnr-money-back-sologan strong {
    display: inline-block;
    vertical-align: baseline;
    text-shadow: 0 0 10px black;
    color: #00bcc3;
    text-align: center;
    font-size: 22px;
    line-height: 21px;
    text-transform: uppercase;
    padding-right: 25px;
}

.bnr-btm-txt strong{
	text-align: left;
	display: block;
	color: #fff;
	font-size: 22px;
    line-height: 1;
    margin-left: -99px;
}