.cleaning-convenient-sec{
	padding: 30px 0 10px;
	text-align: center;
	border-top: 2px solid #fff;
}
.sec-bg{
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.cleaning-convenient-items ul li{
	float: left;
	width: 25%;
	padding: 0 20px;
}
.cleaning-convenient-item-img{
	padding-bottom: 20px;
}
.cleaning-convenient-hdr h2{
	font-weight: 500;
}
.cleaning-convenient-item-des h6{

}


.save-time-section{
	padding: 50px 0 80px;
}
.save-time-sec-des h3{
	text-transform: uppercase;
	color: #006AB6;
	font-family: "Helvetica";
}	
.save-time-sec-des h3 span{
	text-transform: capitalize;
	color: #00BCC3;
	display: block;
	font-size: 28px;
  
}

.save-time-sec-des p{
	font-size: 20px;
	line-height: 1.4;
	font-family: "Helvetica";
	color: #0b396b;
}

.save-time-vdo iframe{
	width: 100%;
}


.main-banner{
	padding: 20px 0 10px;
	border-bottom: 2px solid #cccccc;
	min-height: 650px;
}
.bnr-lft-col{
	max-width: 370px;
	color: #fff;
}
.bnr-offer-price span {
    display: block;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 68px;
    padding-bottom: 2px;
}
.bnr-offer-price{
		font-family: "Helvetica";
}
.bnr-offer-price strong{
	font-size: 80px;
	line-height: 82px;
	position: relative;
	font-weight: 600;
	padding-left: 5px;
}
.bnr-offer-price strong sup {
    margin-top: 0;
    font-size: 75%;
    line-height: 0;
    display: inline;
    position: relative;
    top: -21px;
    left: -1px;
}

.bnr-offer-price small{
	font-weight: 600;
	display: block;
	font-size: 14px;
	line-height: 16px;
	padding-left: 74px;
	padding-bottom: 10px;
}

.bnr-btn{
	padding-left: 14px;
	padding-bottom: 15px;
}

.bnr-mastercard-imgs{
	padding-left: 30px;
	padding-bottom: 10px;
}
.bnr-mastercard-imgs img{
	max-width: 40px;
	display: inline-block;
	vertical-align: baseline;
}

.bnr-risk-free-img {
    padding-left: 47px;
    padding-bottom: 10px;
}
.bonus-bag-img-bx{
	display: flex;
	align-items: center;
}

.bonus-bag-img-bx p{
	margin-bottom: 0;
	text-shadow: 0 0 10px black;
	color: #00bcc3;
	font-size: 20px;
    line-height: 1;
    font-weight: 800;
}

.bnr-rgt-col div h2{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	font-size: 45px;
	margin-bottom: 10px;
	position: relative;
	left: -50px;
}
.content-move-rgt{
	text-align: right;
}

.bnr-rgt-col figcaption {
    display: inline-block;
    vertical-align: baseline;
    color: white;
    position: relative;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    background: #006ab6;
    border-radius: 100%;
    font-size: 16px;
    padding: 25px 35px;
    z-index: 1;
    margin-top: -25px;
    right: -15px;
    text-transform: uppercase;
}
.bnr-rgt-col figure img{
	position: relative;
	z-index: 2;
}
.bnr-money-back-sologan strong {
    display: inline-block;
    vertical-align: baseline;
    text-shadow: 0 0 10px black;
    color: #00bcc3;
    text-align: center;
    font-size: 22px;
    line-height: 21px;
    text-transform: uppercase;
    padding-right: 25px;
}

.bnr-btm-txt strong{
	text-align: left;
	display: block;
	color: #fff;
	font-size: 22px;
    line-height: 1;
    margin-left: -99px;
}

.unbeatable-competition-sec h3{

}
.unbeatable-competition-sec-list ul{
	display: flex;
	align-items: center;
}
.unbeatable-competition-sec-list ul li{
	width: 27%;
}
.unbeatable-competition-sec-list ul li:nth-child(2){
	width: 46%;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.specs-left{
	text-align: right;
}
.specs-item{
	display: flex;
	align-items: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
.specs-left .specs-item{
	    justify-content: flex-end;
}
.specs-left .specs-item .specs-item-icon{
	order: 2;
}

.specs-item strong{
	font-size: 18px;
	line-height: 22px;
}
.specs-mid{
	text-align: center;
}

.specs-mid-img img{
	width: 100%;
}

.competitors-sec-btn{
	padding-top: 35px;
	padding-bottom: 35px;
	position: relative;
}
.competitors-sec-btn:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	background: #cccccc;
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 1;
}

.competitors-sec-btn a{
	position: relative;
	z-index: 2;
	margin: 0;
}

.germs-lft-des figure{
	max-width: 385px;
	text-align: center;
}
.germs-lft-des figcaption{
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	padding-top: 50px;
}
.width-at-50{
	float: left;
	width: 50%;
}

.germs-lft-des p{
	text-transform: uppercase;
	font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
    text-align: center;
    max-width: 410px;
}

.germs-section{
	background-position: right center!important;
	background-repeat: no-repeat!important;
}


.offer-sologan-bar{
	text-align: center;
	color: #fff;
	padding: 30px 0 20px;
	margin-bottom: 45px;
}

.offer-sologan-bar h3{
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 5px;
}
.offer-sologan-bar p{
	font-size: 20px;
}


.select-offer-boxs-sec-con{
	border: 1px solid #000;
}
.select-offer-boxs-sec-con-hdr{
	margin-bottom: 15px;
}
.select-offer-boxs-sec-con-hdr h5{
	color: #fff;
	padding: 10px 10px 15px;
  font-family: "Helvetica";
  font-weight: 400;
  margin-bottom: 0;
}

.select-offer-box{
	float: left;
	width: 50%;
	padding: 0 10px;
}

.select-offer-box-lft,
.select-offer-box-rgt{
	border: 1px solid #000;
}

.select-offer-boxs{
	position: relative;
}
.or-wrapper{
	position: absolute;
	    width: 60px;
    height: 60px;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.or {
    position: absolute;
    background: #ffa518;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 4px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
}

.best-value-circle{
	color: #fff;
    background: #003e7f;
    font-weight: 700;
    padding: 5px 0;
    text-transform: uppercase;
    position: absolute;
    left: -5px;
    top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    -ms-box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

.best-value-circle span {
    display: block;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
}