.pp-how-it-work-des-left{
	float: left;
	width: 60%;
	padding-bottom: 50px;
}
.pp-how-it-work-des-right{
	float: right;
	width: 40%;
	margin-top: -100px;
    padding-left: 15px;
}

.pp-how-it-work-des-inr{
	padding-bottom: 15px;
}
.pp-how-it-work-des-inr strong{
	font-weight: 700;
	font-size: 18px;
	font-family: 'arial', sans-serif;
}
.pp-how-it-work-des-inr span{
	font-size: 18px;
	font-family: 'arial', sans-serif;
	color: #333;
}
.pp-how-it-work-des-inr p{
	margin: 0;
	margin-top: 20px;
	font-size: 18px;
	font-family: 'arial', sans-serif;
	color: #333;
}
.pp-how-it-work-vdo{
	overflow: hidden;
}