.pp-how-it-work-des-left{
	float: left;
	width: 60%;
    padding-bottom: 67px;
}
.pp-how-it-work-des-right{
	float: right;
	width: 40%;
	margin-top: 0;
    padding-left: 15px;
}

.pp-how-it-work-des-inr{
	padding-bottom: 15px;
}
.pp-how-it-work-des-inr strong{
	font-weight: 700;
	font-size: 18px;
	font-family: 'arial', sans-serif;
}
.pp-how-it-work-des-inr span{
	font-size: 18px;
	font-family: 'arial', sans-serif;
	color: #333;
}
.pp-how-it-work-des-inr p{
	margin: 0;
	margin-top: 20px;
	font-size: 18px;
	font-family: 'arial', sans-serif;
	color: #333;
}
.pp-how-it-work-vdo{
	overflow: hidden;
}

.how-it-work-ctlr .cr-offer-lft-tp > span{
	font-family: "Helvetica-bold";
}
.how-it-work-ctlr a.hdr-order-btn span{
	transition: 0.5s;
}
.end-des{
	padding-bottom: 25px;
}
.bottom-des{
	padding-bottom: 0;
	padding-top: 10px;
}
.pp-how-it-work-vdo iframe{
	width: 100%;
}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.pp-how-it-work-des-left {
	    width: 100%;
	}
	.pp-how-it-work-des-right {
	    width: 100%;
	    margin-top: 0px;
	    padding-left: 0px;
	    padding-top: 0;
	    padding-bottom: 20px;
	}
	.pp-how-it-work-des-wrap .customer-review-offer-wrp {
	    padding-top: 0px;
	}
	.how-it-work-ctlr .pp-how-it-work-vdo{
		max-width: 582px;
	    width: 100%;
	    margin: 0 auto;
	}
	.pp-how-it-work-des-left{
		padding-bottom: 30px;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.pp-how-it-work-des-inr {
	    padding-bottom: 12px;
	}
	.pp-how-it-work-des-inr strong {
	    font-size: 17px;
	}
	.pp-how-it-work-des-inr span {
	    font-size: 17px;
	    line-height: 22px;
	}
	.pp-how-it-work-des-inr p {
	    margin-top: 15px;
	    font-size: 17px;
	}
	.pp-how-it-work-des-left {
	    padding-bottom: 50px;
	}
	.bottom-des{
		padding-bottom: 0;
		padding-top: 0px;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.pp-how-it-work-des-left {
	    padding-bottom: 40px;
	}
	.pp-how-it-work-des-inr {
	    padding-bottom: 10px;
	}
	.pp-how-it-work-des-inr strong {
	    font-size: 15px;
	}
	.pp-how-it-work-des-inr span {
	    font-size: 15px;
	    line-height: 20px;
	}
	.pp-how-it-work-des-inr p {
	    margin-top: 10px;
	    font-size: 15px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}